[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
packaging = "*"
requests = "*"
docker = "*"
natsort = "*"
python-debian = "*"
pykg-config = "*"
rpmfile = "*"
rpm = "*"
spdx-tools = "*"
packageurl-python = "*"
setuptools = "*"
validators = "*"
pytest-xdist = "*"
pytest-cov = "*"
pip-audit = "*"

[dev-packages]
bump2version = "*"
pytest = "*"

[requires]
python_version = "3.12"
